/*BEGIN PS5 Controller Styling*/
.controller.ds4{
    background: url(https://i.imgur.com/wYovYDn.png);
    height: 850px;
    width: 1050px;
    position: absolute;
    background-repeat:no-repeat;
}

.ds4.disconnected {
    background: url(https://i.imgur.com/OcPP3m9.png);
    height: 850px;
    width: 1050px;
    position: absolute;
    background-repeat:no-repeat;
}
.ds4.disconnected div {
    display: none;
}
.ds4 .triggers{ 
    width: 204px;
    height: 92px;
    top: 13px;
    left:20px;
    position: absolute;
    background-repeat:no-repeat;
} 
.ds4 .trigger{
    width: 241px;
    height: 114px;
    background: url(https://i.imgur.com/B9Zb5Vh.png);
    background-repeat: no-repeat;
}
.ds4 .trigger.left{ 
    float: left;
    top: 42px;
    left: 22px;
    background-position-x: 120px;
    position: absolute;
}
.ds4 .trigger.right{
    float: right;
    width: 241px;
    height: 114px;
    top: 42px;
    left:746px;
    background-position-x: -120px;
    position: absolute;
}
.ds4 .bumper{
    width: 208px;
    height: 333px;
    left: 155px;
    top: 179px;
    background: url(https://i.imgur.com/Jr3p6pN.png);
    opacity: 0;
    background-repeat: no-repeat;
    position: absolute;
}
.ds4 .bumper.pressed{ 
    opacity: 1;
}
.ds4 .bumper.right{
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    float: left;
    left: 686px;
}
.ds4 .bumper.left{
    float: right;
}
.ds4 .quadrant{
    position: absolute;
    background: url(http://bit.ly/33UddCD);
    opacity: 1;
    top: 140px;
    left: 240px;
    background-repeat:no-repeat;
}

.ds4 .p0{
    background-position: 0 -6px;
}
.ds4 .p1{
    background-position: 0 -28px;
}
.ds4 .p2{
    background-position: 0 -49px;
}
.ds4 .p3{
    background-position: 0 -70px;
}
.ds4 .arrows{
    position: absolute;
    width: 205px;
    height: 19px;
    top: 250px;
    left: 291px;
    background-repeat:no-repeat;
}
.ds4 .back, .ds4 .start{
    background: url(https://i.imgur.com/9x5COl2.png);
    width: 34px;
    height: 51px;
    background-repeat: no-repeat;
}
.ds4 .back.pressed, .ds4 .start.pressed{
    top: -15px;
    opacity: 1;
}
.ds4 .back{ /* share */
    position: absolute;
    left: -10px;
    float: left;
    width: 38px;
    height: 55px;
    opacity: 0;
}
.ds4 .start{ /* options */
    transform: rotate(24deg);
    position: absolute;
    left: 443px;
    float: right;
    width: 38px;
    height: 55px;
    opacity: 0;
}

.ds4 .abxy{
    position: absolute;
    background-repeat:no-repeat;
}
.ds4 .button{
    position: absolute;
}
.ds4 .button.pressed{
    background: url(https://i.imgur.com/OOB8Hkv.png);
    height: 211px;
    width: 211px;
    top: 260px;
    left: 722px;
    background-position-y: -00px;
    margin-top: 0px;
}
.ds4 .a.pressed{ /* X on PS5*/
    clip: rect(0px,144px,70px,0px);
    background-position-y: -143px;
    top: 403px;
    background-repeat:no-repeat;
}
.ds4 .b.pressed{ /* circle on PS5*/
    clip: rect(0px,72px,140px,0px);
    background-position-x: -144px;
    left: 866px;
    background-repeat:no-repeat;
}
.ds4 .x.pressed{ /* square on PS5*/
    clip: rect(0px,72px,140px,0px);
    background-repeat:no-repeat;
}
.ds4 .y.pressed{ /* Triangle on PS5*/
    clip: rect(0px,144px,70px,0px);
    background-repeat:no-repeat;
}
.ds4 .sticks{
    position: absolute;
    width: 364px;
    height: 100px;
    top: 438px;
    left: 321px;
    background-repeat:no-repeat;
}
.ds4 .stick{
    position: absolute;
    background: url(https://i.imgur.com/njYQOm5.png);
    height: 116px;
    width: 116px;
    background-repeat: no-repeat;
}
.ds4 .stick.pressed.left{
    background-position-x: -118px;
}
.ds4 .stick.pressed.right{
    background-position-x: -118px;
}
.ds4 .stick.left{
    top: 2px;
    left: -9px;
}
.ds4 .stick.right{
    top: 2px;
    left: 301px;
}
.ds4 .meta {
    width: 153px;
    height: 85px;
    position: absolute;
    left: 489px;
    top: 462px;
}
.ds4 .meta.pressed {
    background: url(https://i.imgur.com/xWViK7w.png);
    background-repeat: no-repeat;
}
.ds4 .dpad{
    height: 624px;
    width: 840px;
    background-repeat:no-repeat;
}
.ds4 .face{
    background: url(https://i.imgur.com/Bwrx7hw.png);
    position: absolute;
    top: 337px;
    left: 140px;
}
.ds4 .face.right.pressed{
    transform: rotate(180deg);
    top: 337px;
    left: 235px;
    width: 71px;
    height: 58px;
    background-repeat:no-repeat;
}
.ds4 .face.left.pressed{
    transform: rotate(0deg);
    top: 337px;
    left: 140px;
    width: 71px;
    height: 58px;
    background-repeat:no-repeat;
}
.ds4 .face.up.pressed{
    transform: rotate(90deg);
    top: 289px;
    left: 187px;
    width: 71px;
    height: 58px;
    background-repeat:no-repeat;
}
.ds4 .face.down.pressed{ 
    transform: rotate(-90deg);
    top: 385px;
    left: 187px;
    width: 71px;
    height: 58px;
    background-repeat:no-repeat;
}
.ds4 .touchpad{
    position:absolute;
    top: 212px;
    left: 322px;
    height: 200px;
    width: 407px;
    background: url(https://i.imgur.com/idiWEE8.png);
    background-repeat: no-repeat; 
    -webkit-animation: rotation_hue 8.5s infinite linear;
}
.ds4 .touchpad.pressed{
    position:absolute;
    top: 186px;
    left: 330px;
    height: 213px;
    width: 391px;
    background: url(https://i.imgur.com/0mSDfEP.png);
    background-repeat: no-repeat; 
/*END PS5 Controller Styling*/
